extends layout
block content
    .content
        .container.about-container
            .left
                h1  !{trans('careers')}
                p !{trans('careers_desc_01')}
                p !{trans('careers_desc_02')}
                p !{trans('careers_desc_03')}


                form.custom-form(action='' method='post' enctype="multipart/form-data")#careers-form
                    .form-box.form-box-left
                        label !{trans('name')}
                        input(type='text' placeholder=trans('type_text'), name="firstname")
                    .form-box.form-box-right
                        label !{trans('post')}
                        select.chosen-select(data-placeholder=trans('select'), name="position_id")
                            option(value="")
                            each post in positions
                                option(value=post.id) !{post.present().renderName()}

                    .form-box.form-box-left
                        label !{trans('lastname')}
                        input(type='text' placeholder=trans('type_text'), name="lastname")
                    .form-box.form-box-right
                        label !{trans('email')}
                        input(type='email' placeholder=trans('type_text'), name="email")#email


                    .form-title !{trans('attach_cv')}
                    a(href="javascript:;" class="btn-red" id="upload_cv") !{trans('select_file_btn')}

                    input(id="upload_cv_input" type='file', name="cv", multiple=false, style="display:none")
                    //
                        div.dropzone
                            input(type='file', name="cv")
                            .dz-message
                                img(src='/assets/img/drop.png')
                                p Drag & Drop Your CV Here
                                p or
                                .btn-red select file

                    button(type='submit' id='careers-form-submit' style="float:right").btn-red !{trans('apply')}

            .right
                .about-box
                    span
                    .about-img
                        img(src='/assets/img/careers.jpg')

