footer
    .container
        .left
            | !{trans('copyright')} &copy; !{trans('by')} sarco srl
        .right
            | !{trans('design')} & !{trans('development')} !{trans('by')} &nbsp;
            a(href='http://ebs-integrator.com/' target='_blank') EBSIntegrator


script(src="/assets/js/scripts.min.js")
script(src="/assets/js/main.js")
block script