ul.menu
    each element in nav_menu
        li
            a(href=route('/' + element)).submenu !{trans(slug(element), element)}
            // todo: hardcoded
            if(element == 'services' && ! _.isEmpty(services))
                ol
                    each service in services
                        li
                            a(href=route(`/services/${service.slug}/`)) !{service.present().renderName()}