extends ../layout
block content
    .content
        .container.about-container
            .left
                h1  !{item.present().renderName()}
                p !{item.present().renderDescription('description', 0)}
                if(services)
                    ul.no-color
                        each service in services
                            li
                                a(href=route(`/services/${service.slug}/`)) !{service.present().renderName()}

            .right
                .about-box
                    span
                    .about-img
                        img(src='/assets/img/linella.jpg')