li
   a(href=route(`/portfolio/${category.slug}/constructions`))
       h3  !{category.present().renderName()}
       .img-box
           img(src=images[category.id])
       .slider-right
           button.btn-red !{trans('see_more_btn')}