extends ../layout
block content
    .content
        .container
            .portfolio-left
                h1  !{item.present().renderName()}
                p !{item.present().renderDescription('long_description', 0)}
                if(gallery)
                    each image in gallery
                        img(src=image)
            .portfolio-right
                .details
                    .info-box
                        strong !{trans('address')}:
                        p !{item.address}
                    .info-box
                        strong !{trans('description')}:
                        p  !{item.present().renderDescription('description', 0)}
                    .info-box
                        strong !{trans('beneficiary')}:
                        p  !{item.beneficiary}

                    a(href=route(`/portfolio/${category.slug}/constructions/`)).btn-back.go-back !{trans('go_back')}
